.ButtonLink {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: #2185d0;
  text-align: left;
}

.ButtonLink:hover, .ButtonLink:focus {
  text-decoration: underline;
}