* { padding: 0; margin: 0; }

html, body {
  min-height: 100% !important;
  height: 100%;
}

/* https://github.com/Semantic-Org/Semantic-UI/issues/6066 */

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}
